p.center {
	text-align: center;
}

/* League2 */
div.filter
{
	border-style:none;
	margin: 3px 5px 3px 0px;
	padding: 2px 5Px;
	font-size: 10px;
}

div.pages, div.filterstatus, div.messagebox
{
	border-style:solid;
	border-color:grey;
	border-width:1px;
	margin: 3px 0px 3px 0px;
	height:15px;
	padding: 5px 5px;
	background-color: #EEEEEE;
	background-image:url("images/bg_gray.gif");
	vertical-align:middle;
	clear:left;
}

div.messagebox
{
	font-weight:bold;
	border-color: Red;
}

table {
	border-collapse:collapse;
}

th {
	margin: 10px 0 10px 0;
	padding: 4px;
	color: white;
	white-space:nowrap;
}

tr 
{
	border-style:solid;
	border-width:1px;
	border-color:Gray;
	background-color:EEEEEE;
}

tr.th 
{
	background-color: navy;
	background-image: url("images/bg_bar.gif");
	text-align:left;
	vertical-align:middle;
	border-color:Black;
}


th a:link, th a:visited, th a:active, th a:hover { 
	color: white;
	text-decoration:none;
} 


td 
{
	padding: 2px;	
	padding-right:8px;
}

img.vrbar 
{
	padding-left: 5px;
	padding-right: 5px;
}

span.scorewon, span.scorewon a:link, span.scorewon a:visited, span.scorewon a:active, span.scorewon a:hover{ 
	color:#003399;
	font-weight:bold;
} 

span.scorelost, span.scorelost a:link, span.scorelost a:visited, span.scorelost a:active, span.scorelost a:hover{ 
	color:Gray;
	font-weight:bold;
} 

span.score
{
	font-weight:bold;
}

div.textleft
{
	margin-top:5px;
	margin-right:20px;
	line-height:150%;
	display:inline;
	float:left;
}

table.simple tr
{
	background-color:Transparent;
	border-style:none;
}


form.search 
{
	display:inline;
}

input.search
{
	width:10em;
	vertical-align:middle;
}

input.searchbutton
{
	vertical-align:middle;
}

span.revoked
{
	font-weight:bold;
	color:red;
}

tr.revoked, div.revoked
{
	color:#888888;
}
tr.revoked a:visited, th a:active, th a:hover
{
	color:#888888;
}
tr.revoked span.scorewon a:visited, th a:active, th a:hover
{
	color: #4477DD;
}
